<header>
    <section class="titulo">
        <h1>Face
            <div id="letraB">b</div>luff</h1>
    </section>
    <section class="enlaces">
        <a href="login">entrar</a>
        <a href="registrar">nuevo usuario</a>
    </section>
</header>