<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="utf-8">
    <title>FaceBluff</title>
    <link rel="stylesheet" href="/css/notFound.css" media="screen">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" media="screen">
</head>

<body>
    <header>
        <section class="titulo">
            <h1>Face
                <div id="letraB">b</div>luff</h1>
        </section>
    </header>
    <main>
        <h1>404 Not Found</h1>
        <section class="texto_error">
            <div class="imagen">
                <img src="/img/icono404.svg" alt="">
            </div>
            <div class="mensaje">
                <span>Eyyyyy crackk ! Parece que te has colado.</span>
                <span>La pagina que quieres visitar no existe.</span>
                <span>Página solicitada: <%= url %></span>
            </div>
        </section>
        <div class="volver_inicio">
            <a href="/login">Volver a la pagina de inicio</a>
        </div>
    </main>
</body>

</html>