.loginF {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 5%;
    font-size: 1.3vw;
}

.formul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.boton_formul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boton_formul>input[type="submit"] {
    text-decoration: none;
    background-color: #ad7e25;
    color: white;
    border-radius: 1.4vw;
    padding: 2%;
    text-align: center;
    font-size: 1.3vw;
    transition: all 0.4s ease;
    font-family: 'Baloo', cursive;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
}

.boton_formul>input[type="submit"]:hover {
    background-color: #866018;
}

label {
    font-weight: bold;
    font-size: 1.5vw;
    text-align: left;
    width: 50%;
}

input[type="text"] {
    color: #454545;
    border: 0.1vw solid #AAA;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    padding-left: 3%;
    font-family: 'Baloo', cursive;
    outline: none;
    width: 50%;
}

input[type="password"] {
    color: #454545;
    border: 0.1vw solid #AAA;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    padding-left: 3%;
    font-family: 'Baloo', cursive;
    outline: none;
    width: 50%;
}

input[type="radio"] {
    margin-left: 2%;
    margin-right: 0.5%;
    font-family: 'Baloo', cursive;
}

#divDate {
    width: 50%;
    display: flex;
    justify-content: left;
}

input[type="date"] {
    color: #454545;
    border: 0.1vw solid #AAA;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    padding-left: 4%;
    font-family: 'Baloo', cursive;
    outline: none;
    width: 80%;
}

input[type="file"] {
    font-size: 1vw;
    font-family: 'Baloo', cursive;
    text-overflow: ellipsis;
}